
    <div class="az-header">
      <div class="container">
        <div class="az-header-left">
          <a href="index.html" class="az-logo">Evidence</a><div class="az-logo-grey">Flow</div><a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
        </div><!-- az-header-left -->
        <div class="az-header-menu">
          <div class="az-header-menu-header">
            <a href="index.html" class="az-logo">Evidence</a><a href="index.html" class="az-logo-grey">Flow</a>
            <a href="" class="close">&times;</a>
          </div><!-- az-header-menu-header -->
          <ul class="nav">
            <li class="nav-item" style="margin-left: 15px;">
              <a href="alluvial.html" class="nav-link" style="left: 5px;"><style="margin-right: 0px;"></i>Alluvial Diagram</a>
            </li>
            <li class="nav-item" style="margin-left: 15px;">
              <a href="multilevel.html" class="nav-link" style="left: 5px;"><i class="typcn typcn-arrow-right" style="margin-right: 0px;"></i>Multilevel Network</a>
            </li>
            <li class="nav-item" style="margin-left: 15px;">
              <a href="source.html" class="nav-link" style="left: 5px;"><i class="typcn typcn-arrow-right" style="margin-right: 0px;"></i>Source Network</a>
            </li>
            <li class="nav-item" style="margin-left: 15px;">
              <a href="embedding.html" class="nav-link" style="left: 5px;"><i class="typcn typcn-arrow-right" style="margin-right: 0px;"></i>Embedding Projector</a>
            </li>
            <li class="nav-item" style="margin-left: 15px;">
              <a href="emerging.html" class="nav-link" style="left: 5px;"><i class="typcn typcn-arrow-right" style="margin-right: 0px;"></i>Emerging Trends</a>
            </li>
            <li class="nav-item" style="margin-left: 15px;">
              <a href="overview.html" class="nav-link" style="left: 5px;"><i class="typcn typcn-arrow-right" style="margin-right: 0px;"></i>Overview</a>
            </li>
            <li class="nav-item" style="margin-left: 25x;">
              <a href="" class="nav-link with-sub" style="left: 5px;"><i class="typcn typcn-spanner" style="margin-right: 0px;"></i>Extra Features</a>
              <div class="az-menu-sub">
                <div class="container">
                  <div>
                    <nav class="nav">
                      <a href="summary_result" class="nav-link"> Text Summarization</a>
                      <a href="algebra_result" class="nav-link"> Word Algebra</a>
                    </nav>
                  </div>
                </div><!-- container -->
              </div>
            </li>
          </ul>
        </div><!-- az-header-menu -->
      </div><!-- container -->
    </div><!-- az-header -->
