
    <script type="text/javascript" src="/static/assets/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/cookie.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-42SF5C65P6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());    
        gtag('config', 'G-42SF5C65P6');
    </script>


